body {
    font-family: sans-serif;
    align-content: center;
    margin: 13px;
}
h1, h2, h3, h4, h5, h6 {
    color: forestgreen;
}

#recipe {
    align-content: center;
    border-bottom: thin black solid;
    background-color: honeydew;
}

#submit-val {
    margin-bottom: 20px;
}

#bar_chart {
    font-weight: bold;
    color: black;
}

#horizontal_bar_chart{
    font-weight: bold;
    color: black;
}

#jumbotron {
    text-align: center;
}

#check-list {
    font-weight: bold;
}

#navigate {
    font-weight: bold;
    font-size: 19px;
}

#jumbotronBox {
    background-color: linen;
}
